/*.App {
  text-align: center;
}
.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
@media (max-width: 600px) {
  .tabNav {
    font-size:10px;
  }
}

input.updateRoomTextField {
  font-size: 1.25em;
  mix-blend-mode: multiply;
}

body {
  background-color: rgb(249, 249, 249);
  font-family: roboto;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1;
}

.activator {
  height: 250px; 
  width: auto;
  object-fit: contain;
}

.materialboxed {
  height:65px;
  width:auto;
  object-fit:contain;
}

.RoomListHeader {
  height: 45px;
}

.RoomListHeader label, .RoomListHeader input {
  margin: 15px 0;
}

.brand {
  font-size: 2rem;
}

.ListItem {
  background: rgba(0, 0, 0, 0.4);
}

.card-title {
  font-size: 36px;
  font-family: roboto;
  color: rgba(0, 0, 0, 0.6);
}

.input .active {
  background-color:#424242;
}

.card-control-panel {
  display: inline-block;
}

div.icon-row{
  padding: 0;
  margin: 0;
  display: inline-block;
}

#table-item {
  padding: 0px 10px;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0px;
}

.slimDown {
  padding: 0px 10px;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  height: 1.5rem;
}

input.slimDown {
  margin: 0;
  height: 1.5rem;
}

div.container {
  width: 80%;
  
}

.card-control {
  padding-right: 20px;
  display:inline-block;
  cursor:pointer;
}

.card-control:hover {
  color:#4db6ac;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-dark:hover { color: rgba(0, 0, 0, 1); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.tabs .indicator {
  background-color:#424242;
}

.tabItem .active {
  color:#424242;
}

.nav-item.active {
  background-color: #0b97c4;
}

.signin {
  background: url(http://be-design.us/wp-content/uploads/2015/07/interior-designers-bedesign-houston.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

/*.MediaBox {
  display:inline-block;
}*/

table.furniture-detail {
  margin-top: 20px;
  border-collapse: collapse;
}

.furniture-detail td, .furniture-detail th {
  padding: 0;
}

.furniture-detail td {
  vertical-align: top;
  padding-right: 5px;
}

.furniture-detail th {
  vertical-align: bottom;
  font-weight: normal;
  color: #aaa;
  padding-top: 20px;
}

th.budget-table {
  padding: 7px 7px;
}

.furniture-detail .help-text {
  height: 15px;
  padding: 0;
  margin: 0;
}

.furniture-detail .form-warning {
  color: red;
}

.furniture-detail .hidden-field {
  display: none;
}

div.table {
  display: table;
}

form.tr, div.tr {
  display:table-row;
}

span.td
{
  display:table-cell;
}

.tr {
  height: 40px;
}
.td, .th {
  /*border: solid black 1px;*/
  padding: 0 3px;
  margin: 0;
}

.th {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.tr .room {
  width: 200px;
  display: inline-block;
}

.tr .furniture {
  width: 200px;
  display: inline-block;
}

.tr .price {
  width: 60px;
  display: inline-block;
}

.tr .size {
  width: 80px;
  display: inline-block;
}

.tr .quantity {
  width: 80px;
  display: inline-block;
}

.tr .notes {
  width: 200px;
  display: inline-block;
}

.tr .color {
  width: 80px;
  display: inline-block;
}

.tr .deliveryDate {
  width: 110px;
  display: inline-block;
}

.tr .controls {
  width: 100px;
  display: inline-block;
}

.updateRoomForm {
  display:inline-block;

}