/*.App {
  text-align: center;
}

.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

body {
  background-color: rgb(249, 249, 249);
}

.ListItem {
  background: rgba(0, 0, 0, 0.4);
}

.card-title {
  font-size: 36px;
  font-family: roboto;
  color: rgba(0, 0, 0, 0.54);
}

.card-controls {
  /*padding-right: 20px;*/
}

.card-controls:hover {
  color:#4db6ac;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }